:root{
    --fuentePrincipal: 'Pt Sans', sans-serif;
    --fuenteSecundario: 'Open Sans', sans-serif;

    --blanco: #ffffff;
    --negro: #000000;
}

*,*:before,*:after {
    box-sizing: inherit;
}
body{
    background: url(Imagenes/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    /* font-size: 62.5%; */
    font-size: 16px;
    font-family: var(--fuenteSecundario);
    line-height: 2;
    margin: 0;
}

/* Golbales */
.contenedor{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto 40px auto;
}

h1,h3{
    font-family: var(--fuentePrincipal);
    font-weight: 400;
}
h1{
    font-size:48px ;
}
h3{
    font-size: 30px;
}
p{
    margin: 0;
    font-size: 20px;
    color: var(--blanco);
}
div {
    color: var(--blanco);
}

input, #botonExportar button{
    font-family: var(--fuenteSecundario);
    height: 40px;
    color: var(--negro);
    padding: 10px;
    background-color: var(--blanco);
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
}

#botonExportar button:hover{
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
}

/* Utilidades */
.no-margin{
    margin: 0;
}

/* Header */

.logo_nombre{
    color: var(--blanco);
}

/* Botones */

.botones{
    display: flex;
    justify-content: space-evenly;
}

.ocultar{
    display: none;
}

.noMostrar{
    visibility: hidden;
}

/* Reproductor */

#player{
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.audio{
    align-items: center;
    width: 800px;
}
#player button{
    background-color: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}
#player img{
    width: 50px;
}
#player img:hover {
    width: 55px;
    
}
#siguiente{
    order: 3;
}

/* Contenido */
.tabla{
    display: flex;
    justify-content: center;
    margin-bottom: 110px;
}
table{
    border: 1px solid black;
    background-color: rgba(255, 180, 120, 0.1);
}

thead{
    background-color: rgba(252, 236, 222, 0.3);
}
tr:first-child td{
    background-color: rgba(122, 120, 255, 0.4);
    color: rgb(0, 255, 208);
    padding: 10px;
}
th, td{
    padding: 5px 30px;
    text-align: center;
    border-bottom: 1px solid black;
    border-right:1px solid black;
}

th:last-child, td:last-child{
    border-right:none;
}
tr:last-child td{
    border-bottom: none;
}

/* Creadores */

.creadores{
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background: url(Imagenes/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 180, 120, 0.1);
}
a{
    line-height: 10px;
}
.creadores img{
    width: 40px;
}

.creadores img:hover{
    width: 45px;
}
#github{
    width: 55px
}
#github:hover{
    width: 60px
}
.diseñadores{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Media Queries */

@media (max-width:800px) {
    h1{
        font-size:38px ;
    }
    h3{
        font-size: 20px;
    }
    p{
        font-size: 15px;
    }
    .creadores img{
        width: 30px;
    }
    
    .creadores img:hover{
        width: 35px;
    }
    #github{
        width: 45px
    }
    #github:hover{
        width: 50px
    }
}
@media (max-width:620px) {
    h1{
        font-size:28px ;
    }
    #player{
        display: grid;
        gap: 30px;
    }
    .audio{
        grid-column: 1/3;
        width: 350px;
    }
    #anterior, #siguiente{
        grid-row: 2/3;
    }
    
    #siguiente{
        grid-column: 2/3;
    }
    .tabla{
        margin-bottom: 40px;
    }
    th, td{
        padding: 5px 15px;
    }
    .creadores{
        position: relative;
        flex-direction: column;
        gap: 15px;
    }
    .diseñadores{
        border-top: 1px solid #ffffff;
        height: 50px;
        width: 70%;
        justify-content: center;
    }
}

@media (max-width:375px) {
    input, .audio{
        width: 300px;
    }
    .tabla{
        width: 100%;
    }
}

@media (max-width:330px) {
    input, .audio{
        width: 250px;
    }
    th, td{
        padding: 5px 10px;
    }
    .diseñadores{
        width: 80%;
    }
}